.leave-room{
    margin-right: 20px;
}

.board-container {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #FCF6F5;
    flex-direction: column;
  }
  
  .board {
    display: flex;
    width: 60%;
    justify-content: center;
    border: 15px solid #3d3d3d;
    border-radius: 5em;
    min-height: 320px;
  }
  
  .border-1 {
    display: flex;
    flex: 1 1;
    border: 5px solid #565454;
    border-radius: 4em;
    background-color: #1ca9c9;
    padding: 20px;
  }
  
  .border-2 {
    display: flex;
    flex: 1 1;
    padding: 8px;
    border-radius: 2em;
    border: 1.5px solid #565454;
  }
  
  .border-3 {
    display: flex;
    flex: 1 1;
    border: 1px solid #565454;
    border-radius: 1.5em;
    position: relative;
    padding: 18px 0px;
    align-items: center;
  }
  
  .left-profile, .right-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
  }
  
  .right-profile > .profile-icons, .left-profile > .profile-icons {
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }
  
  .mid-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin: 16px 0px;
  }
  
  .profile-icons {
    display: flex;
    justify-content: space-evenly;
  }
  
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 116px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
  }
  
  .profile img {
    width: 70%;
    height: 70%;
  }

  .points-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FCF6F5;
    flex-grow: 1;
    border-top: 1px solid grey;
    width: 100%;
    padding: 20px;
  }

  .card {
    width: 150px;
    height: 200px;
    background-color: rgb(163, 223, 242);
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .card:hover {
    transform: translateY(-10px);
    background-color: #1ca9c9;
  }

  .optionText {
    font-size: 24px;
    text-align: center;
  }

  
  /* .points-container {
    flex-grow: 1;
    border-top: 1px solid black;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #FCF6F5;
    padding: 20px;
    border-radius: 20px;
  } */
  
  /* .box {
    display: block;
    top: 0px;
    position: relative;
    max-width: 300px;
    background-color: rgb(163, 223, 242);
    border-radius: 5px;
    padding: 32px 24px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
    cursor: pointer;
  } */
  
  /* .box:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: #1ca9c9;
  } */
  
  /* .box:hover > p {
    color: #fff;
  } */
  
  .jira-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    padding: 0 2%;
  }
  
  .story-header {
    color: #0949a2;
    padding: 5px 0;
    cursor: pointer;
  }
  
  .story-title, .story-description {
    padding: 5px 0;
  }
  
  .color-white {
    color: #fff;
  }
  
  .reveal-button {
    margin-top: 40px;
  }
  
  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .profile-name {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 4px;
    min-width: 80px;
  }
  
  .mid-bottom > .profile > .profile-name {
    top: auto;
    bottom: -36%;
  }
  
  .leave-room {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .flip {
    animation: flipAnimation 1s ease-in-out infinite;
  }
  
  @keyframes flipAnimation {
    0% {
      transform: perspective(400px) rotateY(0);
    }
    50% {
      transform: perspective(400px) rotateY(180deg);
    }
    100% {
      transform: perspective(400px) rotateY(360deg);
    }
  }