.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
}


.nav-links li{
  list-style: none;
  display: inline-block;
  margin: 10px 20px ;
  position: relative;
} 

.nav-links li a{
  color: #fff;
  text-decoration: none;
}

.nav-links li::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff5361;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.nav-links li:hover::after{
  width: 100%;
  transition: 0.5s;
}

.register-btn{
  background: #fff;
  color: #000;
  padding: 8px 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px
}


.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)),
    url(assets/Planning-poker.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items in the center horizontally */
  justify-content: center; /* Align items in the center vertically */
  color: #fff;
}

.title {
  font-size: 80px; /* Adjust the font size as needed */
  text-align:center;
  padding-bottom: 200px;
}


.login-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.create-session,
.join-session {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color:#fff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 500px; /* Adjust the width as needed */
  color: #2F3C7E;
}

h2 {
  /* padding-left: 100px; */
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
  color: #2F3C7E;

}

.bottomButtons {
  margin-top: 20px;
}

.bottomButtons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.TextField {
  margin-bottom: 20px;
  width: 100%;
}

.TextField input {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Button {
  margin-top: 10px;
}

.logo {
  position: absolute;
  top: 20px;
  left: 30px;
}

.logo img {
  width: 200px; /* Adjust the size as needed */
}

.title{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #fff;

}



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.roomContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: #353535;
  align-items: flex-start;
}

.poker-body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.root-board {
  width: 100%;
  display: flex;
  justify-content: center;
}

.room {
  border: 1px solid rgb(197, 196, 196);
  border-radius: 5px;
  width: 40%;
  padding: 20px;
  background-color: #fff;
  margin: 250px 0px;
}

.field {
  margin: 10px 5px;
  width: 100%;
}

.bottomButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.board-container {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #454545;
  flex-direction: column;
}

.board {
  display: flex;
  width: 60%;
  justify-content: center;
  border: 15px solid #3d3d3d;
  border-radius: 5em;
  min-height: 320px;
}

.border-1 {
  display: flex;
  flex: 1 1;
  border: 5px solid #565454;
  border-radius: 4em;
  background-color: #139113e6;
  padding: 20px;
}

.border-2 {
  display: flex;
  flex: 1 1;
  padding: 8px;
  border-radius: 2em;
  border: 1.5px solid #565454;
}

.border-3 {
  display: flex;
  flex: 1 1;
  border: 1px solid #565454;
  border-radius: 1.5em;
  position: relative;
  padding: 18px 0px;
  align-items: center;
}

.left-profile, .right-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
}

.right-profile > .profile-icons, .left-profile > .profile-icons {
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.mid-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 16px 0px;
}

.profile-icons {
  display: flex;
  justify-content: space-evenly;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 116px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

.profile img {
  width: 70%;
  height: 70%;
}

.points-container {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin-top: 20px;
  background-color: #525252;
  border-radius: 20px;
}

.box {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #bad7dd;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
  cursor: pointer;
}

.box:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: #6e8f96;
}

.box:hover > p {
  color: #fff;
}

.jira-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  padding: 0 2%;
}

.story-header {
  color: #0949a2;
  padding: 5px 0;
  cursor: pointer;
}

.story-title, .story-description {
  padding: 5px 0;
}

.color-white {
  color: #fff;
}

.reveal-button {
  margin-top: 40px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-name {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 4px;
  min-width: 80px;
}

.mid-bottom > .profile > .profile-name {
  top: auto;
  bottom: -36%;
}

.leave-room {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.flip {
  animation: flipAnimation 1s ease-in-out infinite;
}

@keyframes flipAnimation {
  0% {
    transform: perspective(400px) rotateY(0);
  }
  50% {
    transform: perspective(400px) rotateY(180deg);
  }
  100% {
    transform: perspective(400px) rotateY(360deg);
  }
}